@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1444px){
    .truncate-multiline {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; /* Number of lines to show before truncating */
    }
}

